body{
  background-color: #fdfdfd;
}

/*footer.page-footer[href^="/"]{
  margin-top: 52px;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: black;
  !important
}*/

/*footer.page-footer[href^="/about"]{
  background-color: black;
}

footer.page-footer[href^="/contact"]{
  background-color: black;
}*/

footer#footer-responsive{
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 32.5%;
  background-color: black;
  !important
}

footer#footer-responsive-ac{
  background-color: black;
  !important;
}


@media (max-device-width: 375px) and (min-device-width: 370px) and (min-device-height: 667px){
  div.footer-copyright{
    bottom: 40px;
    display: block;
    position: relative;
    background-color: black;
  }

  div.container{
    background-color: black;
    width: 100%;
    text-align: left;
    left: 00px;
    display: inline-block;
    position: relative;
  }
}

@media (max-device-width: 414px) and (min-device-width: 400px) and (min-device-height: 736px){
  div.footer-copyright{
    bottom: 40px;
    display: block;
    position: relative;
    background-color: black;
  }

  div.container{
    background-color: black;
    width: 100%;
    text-align: left;
    left: 00px;
    display: inline-block;
    position: relative;
  }
}

@media (max-device-width: 768px) and (min-device-width: 760px) and (max-device-height: 1024px){
  div.footer-copyright{
    bottom: 40px;
    display: block;
    position: relative;
    background-color: black;
  }

  footer#footer-responsive{
    display: block;
    position: absolute;
    width: 100%;
    bottom: -12%;
    height: 25.5%;
    background-color: black;
  }

  div.container{
    background-color: black;
    width: 100%;
    text-align: left;
    left: 57px;
    display: inline-block;
    position: relative;
    line-height: 1.35;
  }
}

@media (max-device-width: 1024px) and (min-device-width: 1020px) and (max-device-height: 1366px){
  footer#footer-responsive{
    display: block;
    position: absolute;
    width: 100%;
    bottom: -16.5%;
    height: 25.5%;
    background-color: black;
  }

  div.footer-copyright{
    bottom: 40px;
    display: block;
    position: relative;
    background-color: black;
  }

  div.container{
    background-color: black;
    width: 100%;
    text-align: left;
    left: 152px;
    display: inline-block;
    position: relative;
  }
}



.navbar-logged-out{
  background-color: black;
}


.navbar-logged-out img{
  display: block;
  position: relative;
  top: 4px;
  width: 150px;
  height: 48px;
}


.layout-logo-iphone-six-plus{
  display: block;
  position: relative;
  margin: 90px 0px auto;
  top: 10px;
}

.layout-logo-image-iphone-six-plus{
  display: block;
  position: relative;
  margin: 0 auto;
  width: auto;
}

.layout-logo-image-iphone-six-plus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.layout-logo-iphone-six{
  display: block;
  position: relative;
  margin: 70px 0px auto;
  top: 10px;
}

.layout-logo-image-iphone-six{
  display: block;
  position: relative;
  margin: 0 auto;
  width: auto;
}

.layout-logo-image-iphone-six:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.layout-logo-iphone-five{
  display: block;
  position: relative;
  margin: 15px 0px auto;
  top: 10px;
}

.layout-logo-image-iphone-five{
  display: block;
  position: relative;
  margin: 0 auto;
  width: auto;
}

.layout-logo-image-iphone-five:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.layout-logo-nexus-six-p-and-five-x{
  display: block;
  position: relative;
  margin: 100px 0px auto;
  top: 10px;
}

.layout-logo-image-nexus-six-p-and-five-x{
  display: block;
  position: relative;
  margin: 0 auto;
  width: auto;
}

.layout-logo-image-nexus-six-p-and-five-x:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.layout-logo-galaxy-s-five{
  display: block;
  position: relative;
  margin: 65px 0px auto;
  top: 10px;
}

.layout-logo-image-galaxy-s-five{
  display: block;
  position: relative;
  margin: 0 auto;
  width: auto;
}

.layout-logo-image-galaxy-s-five:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.layout-logo-ipad{
  display: block;
  position: relative;
  margin: 175px 0px auto;
  top: 10px;
}

.layout-logo-image-ipad{
  display: block;
  position: relative;
  margin: 0 auto;
  width: auto;
}

.layout-logo-image-ipad:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.layout-logo-ipad-pro{
  display: block;
  position: relative;
  margin: 375px 0px auto;
  top: 10px;
}

.layout-logo-image-ipad-pro{
  display: block;
  position: relative;
  margin: 0 auto;
  width: auto;
}

.layout-logo-image-ipad-pro:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.company-logo-one{
  background-size: contain;
}

ul.side-nav{
  background-color: black;
  width: 40%;
}


ul.side-nav li a{
  color: #4dff00;
}


.layout-logo{
  display: block;
  position: relative;
  top: 10px;
  margin: 0 auto;
  width: 51%;
  height: 360px;
  border-radius: 1px;
}

.layout-logo-image{
  background-size: cover;
  width: 100%;
  height: 100%;
}

.layout-logo-image:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.layout-logo-fifteen-inch{
  display: block;
  position: relative;
  top: 10px;
  margin: 0 auto;
  width: 51%;
  height: 450px;
  border-radius: 1px;
}

.layout-logo-image-fifteen-inch{
  background-size: cover;
  width: 100%;
  height: 100%;
}

.layout-logo-image-fifteen-inch:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.layout-logo-twenty-seven-inch{
  display: block;
  position: relative;
  top: 10px;
  margin: 0 auto;
  width: 51%;
  height: 520px;
  border-radius: 1px;
}


.layout-logo-image-twenty-seven-inch{
  background-size: cover;
  width: 100%;
  height: 100%;
}

.layout-logo-image-twenty-seven-inch:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.about-logo{
  display: block;
  position: relative;
  top: 10px;
  margin: 0 auto;
  width: 35%;
  height: 220px;
  border-radius: 1px;
  padding-bottom: 30px;
}

.about-logo-image{
  display: block;
  position: relative;
  background-size: cover;
  width: 170%;
  left: -35%;
  height: 230px;
  padding-bottom: 30px;
}

.contact-body{
  width: auto;
  height: 350px;
  text-align: center;
  font-size: 150%;
  color: black;
  margin-top: 70px;
}

.contact-content{
  color: black;
}

.contact-header{
  color: black;
}

.home-link{
  color: ghostwhite;
}

.home-link{
  color: ghostwhite;
}

.about-link{
  color: ghostwhite;
}

.contact-link{
  color: ghostwhite;
}

.shadow{
  display: block;
  position: relative;
  top: 20px;
  border-top: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
  border-radius: 1px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 130%;
  font-family: 'Roboto', sans-serif;
}

.disclosure{
  display: block;
  position: relative;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-style: italic;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
  font-size: 90%;
}

.footer-content{
  color: ghostwhite;
}

.footer-header{
  color: ghostwhite;
}
